.bg-container{
    background-image: url('https://wallpaperaccess.com/full/462773.jpg');
    background-size: cover;
    height: 100vh;
}

.bg-content{
    background-image: url('https://image.freepik.com/free-photo/levitation-pizza_117255-99.jpg');
    background-size: cover;
    height: 100vh;

}