<div style="background-color: #f6f6f6;;" class="container-fluid">
    <div class="row">
      <div style="background-color: rgb(32, 32, 32);" class="d-flex flex-row">
  
        <div class="col-10 col-lg-10 col-md-10 d-flex flex-row">
          <p class="title-text">Pizzeria</p>
          <img routerLink="/home" src="https://image.freepik.com/free-vector/pizza-logo-vector_25327-119.jpg" height="60"
            width="60" />
          <p routerLink="/order" class="option-text">Order Pizza</p>
          <p routerLink="/build" class="option-text">Build ur Pizza</p>
          <p routerLink="/register" class="option-text">Register</p>
          <p routerLink="/login" class="option-text">Login</p>
        </div>
  
        <div style="padding-left: 45px;" class="col-2 col-lg-2 col-md-2">
          <button style="margin-top: 10px; margin-bottom: 10px; color: white; font-weight: 500;" class="btn btn-warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#ffffff" class="bi bi-cart-fill"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            Shopping Cart</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>